@keyframes cart-increase {
  0% {
    transform: scale(0) rotate(-60deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}

@keyframes love-pop {
  0% {
    transform: scale(var(--btn-focus-scale, 0.95));
  }
  40% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@layer components {
  .discount-badge {
    @apply bg-red-500 text-white rounded-md py-[2px] px-1;
  }

  .price {
    @apply text-xl text-orange-500 font-bold;
  }

  .delivery {
    @apply inline-block px-[3px] bg-green-200 text-green-700 font-medium rounded-md;
  }

  .cart-count {
    @apply absolute -top-1/4 -right-[40%] min-w-[20px] px-1 py-[1px] bg-red-500 text-center text-white text-sm tabular-nums rounded;

    &.increase {
      transform-origin: 0% 100%;
      animation: cart-increase 350ms cubic-bezier(0.2, 1.4, 1, 1.2);
    }
  }

  .btn-love {
    @apply font-semibold uppercase;
    animation: love-pop 0.25s ease-out;
    &:active:hover,
    &:active:focus {
      animation: none;
    }
    &:active:hover,
    &:active:focus {
      transform: scale(0.9);
    }
  }
}
